; cp_snowplow.cfg -- Fixes map being classified as Payload.

; Finally, bot support for Snowplow!  After figuring out what caused issues on Overgrown,
; Snowplow has also been fixed.  The following patches are used to make the map look and feel no
; different from the defaults, though it could be interesting to make improvements (such as
; applying the glow effect to the enemy traps).

; Filter out the original team_train_watcher entities to prevent the map from being flagged as
; Payload.
filter:
{
	"targetname" "eotl_train_watcher"
}

; Create tf_glow entities to replicate the team_train_watchers' glows.
; We reuse the target name, as tf_glow has the same inputs that will be called through other
; entities' outputs.
add:
{
	"classname"	"tf_glow"
	"GlowColor"	"125 169 197 240"
	"target"	"eotl_train"
	"targetname"	"eotl_train_watcher"
	"StartDisabled"	"1"
}
{
	"classname"	"tf_glow"
	"GlowColor"	"125 169 197 240"
	"target"	"eotl_flatbed"
	"targetname"	"eotl_train_watcher"
	"StartDisabled"	"1"
}