; pl_cashworks_final1.cfg -- Fixes (?) TFBot-related server crash on BLU win.

modify:
{
	match:
	{
		"targetname" "logic_capD"
	}
	delete:
	{
		"OnTrigger" "cap_D,Kill,,1.5,-1"
	}
	insert:
	{
		"OnTrigger" "cap_D,HideModel,,1.5,-1"
	}
}